<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="{{{uiRootPath}}}/img/librepcb_monochrome.svg" height="35px" width="35px">
        <a href="https://librepcb.org">LibrePCB</a>
        <span class="separator">::</span>
        <a href="{{{relativize @root.page.componentVersion.url}}}">Documentation</a>
      </div>
    </div>
  </nav>
</header>
