<div class="nav-container">
  <aside class="nav">
    <div class="panels">
{{> nav-menu}}
    <div class="nav-panel-explore">
      <div class="context">
        <span class="title">
          <a href="{{{relativize @root.page.componentVersion.url}}}/librepcb-documentation.pdf">
            <i class="fa-solid fa-file-pdf"></i>
            Download as PDF
          </a>
        </span>
      </div>
    </div>
    </div>
  </aside>
</div>
